<div class="jumbotron">
    <div class="container">
        <h1> <span class="glyphicon glyphicon-equalizer"></span>Secpood</h1>
        <div class="row">
            <div class="col-md-9">
                <p>A directory of selected information security podcasts.</p>
                <kbd>Featured: <span class="glyphicon glyphicon-thumbs-up"></span> <%= featured[0].like %> </kbd>
                <footer><%= featured[0].title %></footer>
                <footer>by <%= featured[0].author %></footer>
                <footer>on <%= featured[0].pub_date %></footer>
            </div>
            <div class="col-md-3">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="wall">
                            <img src="<%= featured[0].logo %>"
                                 class="img-responsive">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <audio id="homenaveaudio" src="<%= featured[0].audio %>">
                            Your browser does not support the audio element.
                        </audio>
                        <footer align="center">
                            <button onclick="playFeatured()">
                                Play <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button onclick="stopFeatured()">
                                Stop <span class="glyphicon glyphicon-stop"></span>
                            </button>
                            <button onclick="return stopSelected()">
                                Like <span class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                        </footer>
                        <p align="center"><progress id="seekbar" value="0" max="1" ></progress></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>