<div role="tabepanel" class="tab-pane active" id="featured">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <%= featured[0].title %>
            </h4>
        </div>
        <div class="panel-body">
            <p class=text-muted"><%= featured[0].author %></p>
            <p class=text-muted"><%= featured[0].date %></p>
            <p> <%- featuredIntro[0] %></p>
                <button onclick="playHomeAudio()" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-play"></span>
                    <span class="glyphicon glyphicon-pause"></span>
                </button>
                <button onclick="stopHomeAudio()" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-stop"></span>
                </button>
                <form action="/" method="post" style="display: inline;">
                    <input type="hidden" name="id" type="number" value="<%= featured[0]._id %>"/>
                    <input type="Submit" value="Like" class="btn btn-default btn-xs">
                </form><sup><%= featured[0].like %></sup>
        </div>
        <div class="panel-footer">
            <p class=text-muted">RSS: <%= featured[0].rss %></p>
        </div>
    </div>
</div>