<div role="tabepanel" class="tab-pane active" id="featured">
    <br>
    <p>  </p>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="panel-title"> <%= featured[0].author %> : <%= featured[0].episode %></h2>
            <p><%= featured[0].author %></p>
            <p><%= featured[0].pub_date %></p>
            <p class="panel-title"> <%= featured[0].intro %></p>
        </div>
        <div class="panel-footer">
            <p class=text-muted">RSS: <%= featured[0].rss %></p>
        </div>
    </div>
</div>