<div class="row">
    <div class="col-md-12">
        <% if(podcast.length > 0){ %>
        <% for(var i = 0; i < podcast.length; i++){ %>

        <div class="panel-group" id="accordion<%= podcast[i]._id %>"
             role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading<%= podcast[i]._id %>">
                    <h4 class="panel-title">
                        <a href="#<%= podcast[i]._id %>" role="button"
                           data-toggle="collapse" data-parent="#accordion<%= podcast[i]._id %>"
                           aria-expanded="false" aria-controls="<%= podcast[i]._id %>">
                            <%= podcast[i].title %>
                        </a>
                    </h4>
                </div>


                <div class="panel-collapse collapse <%=i === 0 ? 'in': ''%>" id="<%= podcast[i]._id %>"
                     role="tabpanel" aria-labelledby="heading<%= podcast[i]._id %>">
                    <div class="panel-body">
                        <p class="text-muted">
                            <%= podcast[i].author %>
                        </p>
                        <p class="text-muted"><%= podcast[i].date %></p>
                        <p><%= podcast[i].intro %></p>
                        <p class="text-muted">RSS: <%= podcast[i].rss %></p>
                        <!--<p>-->
                            <button onclick="return playListAudioFromList('<%= podcast[i].audio %>', '<%= podcast[i].title %>')"
                                    class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-play"></span>
                                <span class="glyphicon glyphicon-pause"></span>
                            </button>
                            <button onclick="stopListAudio()" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                            <form action="/list" method="post" style="display: inline;">
                                <input type="hidden" name="id" type="number" value="<%= podcast[0]._id %>"/>
                                <input type="Submit" value="Like" class="btn btn-default btn-xs">
                            </form>
                        <!--</p>-->
                    </div>
                </div>
            </div>

        </div>

        <% } %>
        <% } %>
    </div>
    <br><br><br>
</div>