<div class="row">
    <div class="col-md-12">
        <% if(podcast.length > 0){ %>
        <% for(var i = 0; i < podcast.length; i++){ %>

        <div class="panel-group" id="accordion<%= podcast[i]._id %>"
             role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading<%= podcast[i]._id %>">
                    <h4 class="panel-title">
                        <a href="#<%= podcast[i]._id %>" role="button"
                           data-toggle="collapse" data-parent="#accordion<%= podcast[i]._id %>"
                           aria-expanded="false" aria-controls="<%= podcast[i]._id %>">
                            <%= podcast[i].title %>
                        </a>
                    </h4>
                </div>


                <div class="panel-collapse collapse <%=i === 0 ? 'in': ''%>" id="<%= podcast[i]._id %>"
                     role="tabpanel" aria-labelledby="heading<%= podcast[i]._id %>">
                    <div class="panel-body">
                        <p class="text-muted"><%= podcast[i].author %></p>
                        <p class="text-muted"><%= podcast[i].pub_date %></p>
                        <p><%= podcast[i].intro %></p>
                        <p class="text-muted">RSS: <%= podcast[i].rss %></p>
                        <p>
                            <button onclick="return playSelected('<%= podcast[i].audio %>', '<%= podcast[i].title %>')">
                                Play <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button onclick="return stopSelected()">
                                Stop <span class="glyphicon glyphicon-stop"></span>
                            </button>
                            <button onclick="return stopSelected()">
                                Like <span class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <% } %>
        <% } %>
    </div>
    <br><br><br>
</div>